<h1><%= welcome_message() %></h1>

<h4>
 A melhor plataforma no mundo das moedas digitais!
</h4>

<ul>
    <li><%= link_to "Moedas", coins_path %></li>
    <li><%= link_to "Tipos de mineração", mining_types_path %></li>
</ul>
