<div class="jumbotron">
  <h1 class="display-4"><%= welcome_message() %></h1>
  <p class="lead">Uma aplicação para cuidar do gerenciamento (cadastro, consulta e remoção) de suas criptomoedas.</p>
  <hr class="my-4">
  <p>Comece acessando as opções abaixo: </p>
  <%= render 'menu' %>
</div>
